repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=1000'] # Prevents committing 1MB files
      - id: check-ast # Ensures the code is at least valid Python syntax

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.0  # Use the latest version
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
