site_name: Your Project Name
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
          options:
            docstring_style: google
            show_root_heading: true
            show_source: true
            show_submodules: true
            members_order: source
            show_signature_annotations: true
            separate_signature: true
            signature_crossrefs: true

nav:
  - Home: index.md
  - API Reference: api.md
